
@{
    ViewBag.Title = "UnAuthorized";
    Layout = "~/Areas/CMS/Views/Shared/_CssAndJs.cshtml";
}

<main>
    <div class="container">

        <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
            <h1>401</h1>
            <h2>You are not authorized to access this page.</h2>
            <a class="btn" href="~/CMS/Admins/LoginSuccess">Back to home</a>
            <img src="~/img/backend/not-found.svg" class="img-fluid py-5" alt="Page Not Found">
        </section>
    </div>
</main><!-- End #main -->
